.backgroundHome {
    background-image: url("./images/backgroundhome.png");
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .h1Home {
    font-family: var(--leaguespartan);
    font-weight: bold;
    text-align: center;
  }